@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    background-color: #fffffc;
    margin: 0;
    padding: 0;
}

h1,
h2,
h4,
p {
    font-family: 'josefin sans', sans-serif;
    color: black;
}

h3 {
    font-family: 'lexend', sans-serif;
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 40px;
    background-color: #FFFFFC;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.logo img {
    width: 25px;
}

.hamburger-menu-toggle p {
    font-family: 'lexend', sans-serif;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
}

.hamburger-menu-toggle i {
    display: none;
}

.sections.open {
    transform: translateX(0);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: auto;
    line-height: 1;
    color: black;
}

.sections {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #FFFFFC;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: transform 0.3s ease;
    padding: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(100%);
}

.sec,
.sections a {
    text-align: left;
    width: 100%;
    margin: 20px 0;
}

.sections a {
    text-decoration: none;
    color: black;
    font-family: 'josefin sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.chevron-icon {
    margin: 30px 0;
    font-size: 20px;
}

.fashion-inspiration-dropdown-content,
.mix-match-dropdown-content {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background-color: #FFFFFC;
    z-index: 1;
    width: 100%;
    position: static;
    padding-left: 20px;
}

.fashion-inspiration-dropdown-content a,
.mix-match-dropdown-content a {
    color: black;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
}

.sec a:nth-child(1):hover {
    color: #A50100;
}

.sec a:nth-child(2):hover {
    color: #023996;
}

.sections a:nth-child(3):hover {
    color: #097D17;
}

.sections a:nth-child(4):hover {
    color: #434343;
}

.footer {
    display: flex;
    padding: 20px 40px;
    background-color: #000000;
    flex-wrap: wrap;
}

.footer-nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 5px;
    margin-bottom: 40px;
}

.footer-nav-bar a {
    text-decoration: none;
    color: white;
    font-family: 'lexend', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-nav-bar a:nth-child(1):hover,
.footer-nav-bar a:nth-child(2):hover,
.footer-nav-bar a:nth-child(3):hover,
.footer-nav-bar a:nth-child(4):hover {
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.footer-copyright h4 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    color: white;
    cursor: pointer;
}

.footer-copyright p {
    font-size: 15px;
    color: white;
    margin: 0;
}

.follow-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    gap: 3px;
}

.follow-us-text p {
    display: flex;
    color: white;
    font-size: 15px;
}

.social-med {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    width: 80px;
}

.social-med img {
    cursor: pointer;
    height: 50%;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .logo {
        text-align: center;
    }

    .hamburger-menu-toggle {
        display: flex;
        /* Make it visible on mobile */
        align-items: center;
    }

    .hamburger-menu-toggle i {
        display: flex;
        font-size: 2em;
    }

    .hamburger-menu-toggle p {
        display: none;
    }
}