.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: 750px;
    overflow: hidden;
}

.banner-top {
    width: 100%;
    position: absolute;
    top: -10px;
    overflow: hidden;

}

.banner-top img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -150px;
    width: 100%;
}

.banner-image {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 25%;
}

.banner-image img {
    display: flex;
    width: 70%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    row-gap: 15px;
}

.banner-text h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    margin: 0;
}

.banner-text h4 {
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.fashion-inspiration {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
    margin-bottom: 120px;
}

.fashion-inspiration-section1,
.fashion-inspiration-section2,
.fashion-inspiration-section3 {
    display: flex;
    flex-direction: column;
}

.fashion-inspiration-section1 {
    width: 40%;
    row-gap: 60px;
}

.fashion-inspiration-section2 {
    width: 25%;
    z-index: -10;
}

.fashion-inspiration-section3 {
    width: 35%;
    row-gap: 15px;
    position: relative;
}

.fashion-inspiration-section1 img {
    width: 55%;
    height: auto;
}

.fashion-inspiration-section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

h2 {
    display: flex;
    font-size: 5.5vw;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

p {
    display: flex;
    font-size: 1.25vw;
    font-weight: 500;
    margin: 0;
}

.fashion-inspiration-section1-text p {
    color: #A50100;
}

.fashion-inspiration-section2 img {
    width: 90%;
    height: auto;
    position: relative;
    top: 120px;
}

.fashion-inspiration-section3-image {
    display: flex;
    justify-content: right;
    margin-bottom: 45px;
}

.fashion-inspiration-section3 img {
    width: 70%;
}


.fashion-inspiration-section3-seemorebutton a {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 23px;
    margin-right: 30px;
    text-decoration: none;
}

.fashion-inspiration-section3-seemorebutton h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    font-family: 'lexend', sans-serif;
}

.fashion-inspiration-section3-seemorebutton img {
    width: 35%;
}

.fashion-inspiration-section3-seemorebutton:hover img {
    content: url('images/seemorearrowred.png');
}

.fashion-inspiration-section3-seemorebutton:hover h3 {
    color: #A50100;
}

.fashion-inspiration-section3 .border-line {
    width: 100%;
    border-bottom: 2px solid black;
}

.fashion-inspiration-section3 .border-line-2 {
    height: 60%;
    border-left: 2px solid black;
    position: absolute;
    bottom: 47px;
    left: 80px;
}

.mix-match {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
    margin-bottom: 120px;
}

.mix-match-section1 {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.mix-match-section2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.mix-match-section3 {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    width: 45%;
    row-gap: 20px;
    position: relative;
}

.mix-match-section1 img {
    width: 85%;
}

.mix-match-section2 img {
    width: 80%;
    position: relative;
    top: 250px;
    left: 30px;
}

.mix-match-section3-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 65px;
}

.mix-match-section3-text p {
    color: #023996;
}

.mix-match-section3-image {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 95px;
}

.mix-match-section3 img {
    width: 85%;
}

.mix-match-section3-seemorebutton a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin-right: 50px;
    margin-bottom: 120px;
    text-decoration: none;
}

.mix-match-section3-seemorebutton h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    font-family: 'lexend', sans-serif;
}

.mix-match-section3-seemorebutton img {
    width: 35%;
}

.mix-match-section3 .border-line {
    width: 67%;
    border-bottom: 2px solid black;
}

.mix-match-section3 .border-line-2 {
    height: 20%;
    border-left: 2px solid black;
    position: absolute;
    bottom: 95px;
    left: 60px
}

.mix-match-section3-seemorebutton:hover img {
    content: url('images/seemorearrowblue.png');
}

.mix-match-section3-seemorebutton:hover h3 {
    color: #023996;
}

@media (max-width:1000px) {
    .banner {
        height: 550px;
    }

    .banner-bottom {
        position: relative;
        bottom: -100px;
    }

    .banner-text h1 {
        font-size: 5.5vw;
    }

    .banner-text h4 {
        font-size: 1.5vw;
    }

    p {
        font-size: 14px;
    }

    .fashion-inspiration {
        margin-bottom: 60px;
    }

    .fashion-inspiration-section3-seemorebutton h3 {
        font-size: 14px;
    }

    .fashion-inspiration-section3 .border-line {
        width: 100%;
        position: relative;
        right: 0;
        transform: translateX(-1%);
    }

    .fashion-inspiration-section3 .border-line-2 {
        height: 70%;
        bottom: 20px;
        left: 30px;
    }

    .mix-match-section2 img {
        width: 80%;
        position: relative;
        top: 100px;
        left: 15px;
    }

    .mix-match-section3-text {
        margin-bottom: 10px;
    }

    .mix-match-section3-image {
        margin-bottom: 10px;
    }

    .mix-match-section3-seemorebutton {
        margin-right: 0;
        margin-left: 50px;
    }

    .mix-match-section3-seemorebutton h3 {
        font-size: 14px;
    }

    .mix-match {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 430px;
    }

    .banner-bottom {
        position: relative;
        bottom: -80px;
    }

    .banner-image {
        width: 30%;
        justify-content: start;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-text {
        width: 70%;
        gap: 5px;
    }

    .banner-text h1 {
        font-size: 40px;
    }

    .banner-text h4 {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    .fashion-inspiration {
        align-items: flex-start;
        padding: 20px;
        margin-bottom: 70px;
    }

    .fashion-inspiration-section1 {
        width: 50%;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .fashion-inspiration-section1 img {
        width: 65%;
    }

    .fashion-inspiration-section2 {
        display: none;
    }

    .fashion-inspiration-section3 {
        width: 50%;
    }

    .fashion-inspiration-section3-image {
        margin-bottom: 5px;
    }

    .fashion-inspiration-section3-img {
        width: 80%
    }

    .fashion-inspiration-section3 .border-line {
        width: 120%;
        position: relative;
        right: 0;
        transform: translateX(-18%);
    }

    .fashion-inspiration-section3 .border-line-2 {
        height: 70%;
        bottom: -10px;
        left: -15px;
    }

    .fashion-inspiration-section3-seemorebutton {
        margin-right: 5px;
    }

    .fashion-inspiration-section3-seemorebutton h3 {
        font-size: 12px;
    }

    .mix-match {
        margin-bottom: 70px;
        padding: 20px;
    }

    .mix-match-section1 {
        width: 50%;
    }

    .mix-match-section1 img {
        width: 80%;
    }

    .mix-match-section2 {
        display: none;
    }

    .mix-match-section3 {
        width: 50%;
        row-gap: 20px;
    }

    .mix-match-section3-text {
        margin-bottom: 0;
        justify-content: right;
    }

    .mix-match-section3-text h2 {
        text-align: right;
    }

    .mix-match-section3-image {
        margin-bottom: 0;
    }

    .mix-match-section3-seemorebutton {
        justify-content: right;
        margin: 0;

    }

    .mix-match-section3-seemorebutton h3 {
        font-size: 12px;
    }

    .mix-match-section3 .border-line {
        margin-top: 10px;
        width: 115%;
        position: relative;
        right: 0;
        transform: translateX(-13%);
    }

    .mix-match-section3 .border-line-2 {
        height: 75%;
        bottom: 7px;
        left: -15px;
    }

}